.Sign-in {
  text-align: center;
}

.Sign-in-logo {
  height: 30vmin;
  pointer-events: none;
}

.Sign-in-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Sign-in-link {
  color: #61dafb;
}

